html {
	--fond-prim : #202024;
	--fond-sec : #2c2c32;
	--primary : #F5CE7B;
	--secondary : #3e8092;
	--title-color: hsla(41, 86%, 75%, 1);
}

body {
    margin: 0;
    background-color: var(--fond-prim);
    color: white;
    font-family: 'Raleway', sans-serif;
	text-align: justify;
}

a {
	cursor: pointer;
    color: white;
    text-decoration: none;
}

h2 {
    font-size: 4em;
}

h3 {
    padding: 5px;
    margin: 0;
    font-size: 2em;
}

h4 {
    margin: 5px 5px 0 5px;
    font-size: 1.5em;
}

h1 {
    width: 99%;
    color: var(--title-color);
    text-shadow: 3px 3px 0 #502119, 3px 0 0 #502119, 0 0 8px #0000009e;
    text-align: center;
    font-size: 7em;
    font-family: 'Satisfy', cursive;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
	z-index: 1;
}

h1.sticky {
    animation: font 1s;
    z-index: 30;
    width: auto;
}

.anchor {
    position: fixed;
    top: 0;
    transform: translate(-50%, 0);
}

h2, h3, h4 {
    font-family: 'Josefin Slab', serif;
    text-align: center;
}

#top h2 {
	width: 99%;
	color: var(--title-color);
	text-shadow: 3px 3px 0 #502119, 3px 0 0 #502119, 0 0 8px #0000009e;
	text-align: center;
	font-size: 3.75em;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	margin: 1.75em 0 0 0;
}

p {
    margin: 10px 0;
    line-height: 30px;
    font-size: 125%;
    text-align: justify;
}

header {
    height: 100vh;
	background: linear-gradient(135deg, rgba(254, 213, 136, 0.3), rgba(253, 120, 123, 0.3)), url(../img/background.svg), no-repeat;
	background-size: cover;
    position: relative;
}

#currentDisplay {
    max-height: max-content;
    max-width: max-content;
    max-height: -moz-max-content;
    max-width: -moz-max-content;
}

.button {
	background-color: var(--fond-sec);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    outline: none;
    padding: 5px;
    transition: all 0.5s;
    border: var(--primary) 2px solid;
    color: var(--primary);
}

.button:hover {
    padding: 5px;
    background-color: var(--primary);
    color: white;
}

#header {
    display: block;
    padding-top: 60px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: auto;
    width: 50%;
}

#imgMenu {
    height: 40px;
    transition: all 0s;
}

.lienMenu:hover #imgMenu {
    transform: rotate(360deg);
    transition: all 1s;
}

#navContainer {
	background-color: var(--fond-sec);
    z-index: 25;
    display: flex;
    font-size: 20px;
    font-family: 'Josefin Slab', serif;
    border-bottom: 2px solid var(--primary);
}

.navImage {
    display: contents;
}

.navTexte {
    text-align: right;
    width: 100%;
}

.navTexte .lienMenu:hover {
    animation: bounce 1s;
}

.container {
    padding: 50px;
    overflow: auto;
}

.container:nth-child(even) {
	background-color: var(--fond-sec);
}

.firstAndLastContainer {
    margin: 0;
}

.lienMenu {
    padding: 5px 50px;
    height: 40px;
    display: inline-flex;
    transition: all 1s;
    line-height: 40px;
}

.lienMenu:hover {
    background-color: var(--primary);
    color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.container {
    padding-top: 100px;
}

.flexContent {
    display: flex;
    flex-wrap: wrap;
}

.img-galerie {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.timeline * {
	box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
	background-color: var(--secondary);
}

/* Container around content */
.timelineContainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timelineContainer::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  border: 4px solid var(--primary);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
	background-color: var(--secondary);
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--secondary);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--secondary) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.timelineContent {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
	background-color: var(--secondary);
}

.timelineIcons::before {
	margin-right: 15px;
}

.timeline p {
	font-size: 1em;
    line-height: 1.5;
	margin: 0;
}

.timeline ul {
	font-size: 12px;
	padding: 0;
	margin-bottom: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.timeline li {
	background: var(--primary);
	border-radius: 2px;
	display: inline-block;
	padding: 2px 10px;
	color: var(--fond-sec);
	margin: 3px 2px;
	text-align: center;
	flex-grow: 1;
}

.timelineDetails {
	background: var(--primary);
	padding: 5px 10px;
	color: var(--fond-sec);
	font-size: 12px;
	box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
	border-radius: 2px;
	margin: 5px 0;
}


.timelineDetailsDate, .timelineDetailsPlace {
	width: calc(50% - 2px);
	display: inline-block;
}

.timelineDetails [class^="flaticon-"]:before, .timelineDetails [class*=" flaticon-"]:before {
	margin: 0 5px;
}

.timeline ul + ul {
	margin: 0;
}

#contactIconsContainer a {
    width: calc(100%/4);
}

.imgContainer {
    width: calc(100% / 6);
}

#cross {
    float: right;
    margin: 10px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
	font-size: 50px;
	color: var(--primary);
	transition: none;
}

#cross:hover {
    transform: rotate(360deg);
	transition: 1s;
}

#deviant-C::before {
    padding-left: 24px;
    margin-right: 36px;
}

#deviant-C:hover:before {
    color: #05CC47;
}

#linkedin-C:hover:before {
    color: #0077B5;
}

#cv-C:hover:before {
    color: #a03434;
}

#mail-C:hover:before {
    color: #fcff3d;
}

#contactIconsContainer {
    text-align: center;
    margin: auto;
}

.img-contact:before {
    margin: 0 60px;
    font-size: 150px;
    color: var(--primary);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.img-contact:hover {
    text-shadow: -1px -1px #000, 1px 1px #000, -1px 1px #000, 1px -1px #000;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 50;
}

.sideText {
    padding-left: 10px;
    margin: auto;
    font-size: 125%;
}

.sideText ul {
    padding-left: 15px;
}

#overlayContainer {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px;
}

.arrow {
    font-size: 100px;
    height: max-content;
    margin: auto;
    cursor: pointer;
	color: var(--primary);
}

.arrow:hover {
	animation: bounce 1s;
}

#insideOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

@media screen and (min-width: 639px) and (max-width: 1079px) {
	h1.sticky {
		display: none;
	}

    #contactContainer {
        display: block;
    }
	.lienMenu {
		padding: 5px 30px;
	}
	.imgContainer {
		width: calc(100%/3);
	}

	#contactIconsContainer a {
	    width: calc(100%/2);
	}

    #insideOverlay {
        display: grid;
    }
}

@media screen and (max-width: 639px) {
	h1.sticky {
		display: none;
	}
    #header {
        width: 95%;
    }

    .navImage {
		display: none;
        width: 0;
    }

	.navTexte {
		text-align: center;
	}

    .imgContainer {
        width: calc(100% / 2);
    }

    .container {
        padding: 25px;
    }

    #fullsize_container {
        left: 0%;
        transform: translateX(0%) translateY(-50%);
        z-index: 1000;
    }

	#contactIconsContainer a {
	    width: calc(100%/1);
	}

    #insideOverlay {
        display: grid;
    }

	/* Place the timelime to the left */
  .timeline::after {
    left: 41px;
  }

/* Full-width containers */
  .timelineContainer {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
	  background-color: var(--secondary);
  }

/* Make sure that all arrows are pointing leftwards */
  .timelineContainer::before {
    left: 60px;
    border: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--secondary) transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 0;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0;
  }
}

@keyframes bounce {
    0%, 40%, 60%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    20% {
		padding-top:
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
