    /*
    Flaticon icon font: Flaticon
    Creation date: 15/11/2018 13:14
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-cv-file-interface-symbol:before { content: "\f100"; }
.flaticon-deviantart:before { content: "\f101"; }
.flaticon-linkedin-logo:before { content: "\f102"; }
.flaticon-at:before { content: "\f103"; }
.flaticon-next:before { content: "\f104"; }
.flaticon-back:before { content: "\f105"; }
.flaticon-cancel:before { content: "\f106"; }
.flaticon-graduate-cap:before { content: "\f107"; }
.flaticon-old-fashion-briefcase:before { content: "\f108"; }
.flaticon-chef:before { content: "\f109"; }
.flaticon-stretcher:before { content: "\f10a"; }
.flaticon-computer-graphic:before { content: "\f10b"; }
.flaticon-placeholder-filled-tool-shape-for-maps:before { content: "\f10c"; }
.flaticon-calendar:before { content: "\f10d"; }
    
    $font-Flaticon-cv-file-interface-symbol: "\f100";
    $font-Flaticon-deviantart: "\f101";
    $font-Flaticon-linkedin-logo: "\f102";
    $font-Flaticon-at: "\f103";
    $font-Flaticon-next: "\f104";
    $font-Flaticon-back: "\f105";
    $font-Flaticon-cancel: "\f106";
    $font-Flaticon-graduate-cap: "\f107";
    $font-Flaticon-old-fashion-briefcase: "\f108";
    $font-Flaticon-chef: "\f109";
    $font-Flaticon-stretcher: "\f10a";
    $font-Flaticon-computer-graphic: "\f10b";
    $font-Flaticon-placeholder-filled-tool-shape-for-maps: "\f10c";
    $font-Flaticon-calendar: "\f10d";