	/*
  	Flaticon icon font: Flaticon
  	Creation date: 13/11/2018 19:25
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot?v=1");
  src: url("./Flaticon.eot?#iefix?v=1") format("embedded-opentype"),
       url("./Flaticon.woff?v=1") format("woff"),
       url("./Flaticon.ttf?v=1") format("truetype"),
       url("./Flaticon.svg#Flaticon?v=1") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
font-style: normal;
}

.flaticon-cv-file-interface-symbol:before { content: "\f100"; }
.flaticon-deviantart:before { content: "\f101"; }
.flaticon-linkedin-logo:before { content: "\f102"; }
.flaticon-sent-mail:before { content: "\f103"; }
.flaticon-next:before { content: "\f104"; }
.flaticon-back:before { content: "\f105"; }
.flaticon-cancel:before { content: "\f106"; }
.flaticon-graduate-cap:before { content: "\f107"; }
.flaticon-portfolio:before { content: "\f108"; }
.flaticon-chef:before { content: "\f109"; }
.flaticon-stretcher:before { content: "\f10a"; }
