body{
    background : url(../bakcground.jpg);
}
#titre {
    color:blue;
    text-align: center;
    font-size: 20px;
}
ul {
    width: 100%;
    text-align: center;
}
li {
    display: inline;
    margin: 40px;
}
li a{
    color: white;
    text-decoration: none;
}
li a:hover{
    color:rgba(240,240,240,0.7);
    text-decoration: none;
}